{% extends 'layouts/base.html' %}
{% block content%}

<main class="container py-5">
    <section class="card card-body">
      <h1 class="display-1 text-center">Welcome to the Task-List</h1>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure, voluptatem quo explicabo ipsa earum nemo porro
        doloribus tenetur, at deleniti, ex eveniet? Dolore numquam aperiam porro at non totam necessitatibus esse corporis
        saepe, iure aut quod ipsam neque laudantium? Corrupti dicta similique optio nobis aliquid dolores eveniet harum 
        vitae commodi eius nesciunt sint, provident repellendus nulla nihil corporis iste itaque? Exercitationem ut, 
        voluptatem doloremque enim inventore esse error commodi repellat est pariatur quasi ullam perferendis facilis. 
        Consequatur, quos nam ea tempore nostrum assumenda suscipit amet recusandae? At non corporis omnis commodi labore, 
        sint impedit libero dolorum voluptatum fugit est minima voluptates beatae quam, voluptatibus molestias sed distincti
        o quisquam. Quidem, distinctio. Sint nihil ullam doloremque ab distinctio ex. Temporibus ratione rerum quidem quisqu
        am quas saepe, natus dicta voluptatibus non fuga molestias suscipit a quae, dolores atque numquam, fugiat in. Amet
        corrupti consequatur accusamus deleniti laudantium repudiandae qui quia! Officiis quasi totam, aliquid architecto
        vitae cumque unde dolores nisi quod quas illum error officia accusamus reprehenderit magni adipisci eum quidem 
        soluta eos ipsum omnis nihil temporibus voluptates. Magnam tenetur libero accusamus maiores nam at pariatur,
        tempore numquam culpa autem eius aliquam dolor. Natus est doloremque expedita culpa laborum porro dolorem ipsam,
        excepturi eum dicta commodi aliquam quam ut nesciunt laboriosam! Quidem vero totam magni adipisci doloribus 
        blanditiis, laudantium eos assumenda asperiores nemo voluptas possimus illo perferendis ab earum. Esse modi 
        iure quidem adipisci asperiores ad harum. Nemo aperiam libero provident veritatis et autem minima quam. Deserunt
        quae quos ipsa libero corporis, qui sint, dignissimos numquam veniam nemo officia? Tenetur at facere velit neque.
       </p>
       <div class="text-center">
       <a class="btn btn-primary" href="/login/">Login</a>
       <a class="btn btn-primary" href="/signup/">Register</a>
      </div>
    </section>
   </main>
{% endblock %}