{% extends 'layouts/base.html' %}
{% block content%}

<main class="container py-5">
    <section class="card card-body">
      <h1 class="display-1 text-center">Welcome to the Task-List</h1>
      <p>Bienvenido  a la lista de tareas, aquí podrás agregar y eliminar tareas, ten en cuenta
        que este proyecto es solo una demo creada mientras aprendia, es mas que todo un proyecto
        personal que ira creciendo con el tiempo, espero puedas registrarte y disfrutarla en tu
        dia a dia, saludos ~Dickdick28.</p>
       </p>
       <div class="text-center">
       <a class="btn btn-primary" href="/login/">Login</a>
       <a class="btn btn-primary" href="/signup/">Register</a>
      </div>
    </section>
   </main>
{% endblock %}