{% extends 'layouts/base.html' %}
{% block content %}
<main class="container py-5">
 <section class="card card-body">
   <h1 class="display-1 text-center">Bienvenido Usuario</h1>
   <p>Bienvenido  a la lista de tareas, aquí podrás agregar y eliminar tareas, ten en cuenta
    que este proyecto es solo una demo creada mientras aprendia, es mas que todo un proyecto
    personal que ira creciendo con el tiempo, espero puedas registrarte y disfrutarla en tu
    dia a dia, saludos ~Dickdick28.
    </p>
 </section>
</main>
{% endblock %}
